body {
  text-align: center;
  background-color: rgba(44, 66, 82, 0.973);
  color: bisque;
}

h3 {
  text-decoration: underline;
  text-underline-offset: 10px;
}

a:link,
a:visited {
  padding: 5px;
  background: black;
  color: bisque;
}
